@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root{
  --fs-xs: 16px;
  --fs-s:18px;
  --fs-xm:20px;
  --fs-m:21.744px;
  --fs-l:25px;
  --fs-xl:30px;
  --fs-2xl:50px;
  --fs-3xl:70px;
/* color */
--fc-blue:#031227;
--fc-lightblue:#001D49;
}
.fs-xs{
  font-size: var(--fs-xs);
}
.fs-s{
  font-size:var(--fs-s);
}
.fs-xm{
  font-size: var(--fs-xm);
}
.fs-m{
  font-size: var(--fs-m);
}
.fs-l{
  font-size: var(--fs-l);
}
.fs-xl{
  font-size: var(--fs-xl);
}
.fs-2xl{
  font-size: var(--fs-2xl);
}
.fs-3xl{
  font-size: var(--fs-3xl);
}
.light-blue{
  color: var(--fc-lightblue);
}
.blue{
  background: var(--fc-blue);
}
.container{
  max-width: 1320px !important;
}
.lh-normal{
  line-height: normal;
}
.bg-head{
  background-image: url(./assets/bg-head.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
.h-80{
  height: 80px;
}
.gap-80{
  gap: 80px;
}
.poppins{
  font-family: Poppins;
}
.nav-text {
  transition: .4s;
}
nav label span{
  height: 5px;
  width: 45px;
  background: white;
  border-radius: 25px;
}
.menu{
  right: 2%;
  z-index: 5;
}
.view{
  right: 0 !important;
}
.max-w-515{
  max-width: 515px;
}
.lh-124{
  line-height: 124%;
}
.max-w-547{
  max-width: 547px;
}
.lh-41{
  line-height: 30px;
}
.opacity-70{
  opacity: 0.7;
}
.px-40{
  padding-left: 40px !important;
  padding-right: 41px !important;
}
.btn{
  border-radius: 45px !important;
  padding-top: 16px !important;
  padding-bottom: 15px !important;
  border: 2px solid transparent !important;
  transition: .5s !important;
}
.lh-136{
  line-height: 136%;
}
.mt-60{
  margin-top: 60px;
}
.bg-color{
  background: #000A1A;
}
.gradient{
  background: linear-gradient(180deg, rgba(0, 10, 26, 0.00) 0%, #000A1A 80%);
  min-height: 230px;
  width: 100%;
  position: relative;
  top: -188px;
  transition: .5s;
}
.btn:hover{
  background: transparent !important;
  color: white !important;
  border: 2px solid white !important;
}
.icon{
  transition: .4s;
}
.icon:hover{
  transform: scale(1.3) !important;
}
.pl-130{
  padding-left: 130px;
}
.card-sec2{
  border-radius: 20px;
background: #031227;
padding-left: 40px;
padding-right: 39px;
min-height: 500px;
max-width: 400px;
padding-top: 39px;
}
.pt-150{
  padding-top: 150px;
}
.lh-150{
  line-height: 150%;
}
.lh-100{
  line-height: 100% ;
}
.mt-40{
  margin-top: 40px;
}
.elepis1{
  width: 337px;
height: 337px;
border-radius: 50%;
background: #009DFF;
filter: blur(250px);
top: 50%;
position: absolute;
}
.elepis2{
  width: 337px;
  height: 337px;
  border-radius:50%;
  background: #009DFF;
  filter: blur(200px);
right: -20%;
bottom: 45%;
  position: absolute;
}
@media (max-width:576px) {
  :root{
    --fs-xs: 10px;
    --fs-s:12px;
    --fs-xm:14px;
    --fs-m:15.744px;
    --fs-l:18px;
    --fs-xl:20px;
    --fs-2xl:30px;
    --fs-3xl:40px; 
  }
  .elepis1{
    width: 180px;
    height: 180px;
  }
  .elepis2{
    width: 180px;
    height: 180px;
  }
}
@media (max-width:768px) {
  .mobileView {
    position: fixed;
    background-color: var(--fc-lightblue);
    justify-content: center;
    flex-direction: column;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    transition: all linear 300ms;
    transform: translate(-50% -50%);
}
.gap-80{
  gap: 30px;
}
:root{
  --fs-xs: 12px;
  --fs-s:14px;
  --fs-xm:16px;
  --fs-m:18.744px;
  --fs-l:20px;
  --fs-xl:25px;
  --fs-2xl:40px;
  --fs-3xl:50px;
}
.elepis1{
  width: 250px;
  height: 250px;
}
.elepis2{
  width: 250px;
  height: 250px;
}
}